<div class="container">
  <h3>Create Task</h3>
  <div>
    <form [formGroup]="createTaskFromGroup" (ngSubmit)="createTask()">
      <app-common-input [label]="'name'" [formControl]="createTaskFromGroup.controls['name']"></app-common-input>
      <app-common-input [label]="'description'" [formControl]="createTaskFromGroup.controls['description']">
      </app-common-input>
      <div class="form-group">
        <label for="priority">Priority</label>
        <select formControlName="priority" class="form-control" id="priority">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select formControlName="status" class="form-control" id="status">
          <option>Up Next</option>
          <option>Working</option>
          <option>Testing</option>
          <option>Done</option>
        </select>
        <div *ngIf="createTaskFromGroup.controls['status'].invalid
        && (createTaskFromGroup.controls['status'].dirty || createTaskFromGroup.controls['status'].touched)"
          class="alert alert-danger mt-1">
          <div *ngIf="createTaskFromGroup.controls['status'].errors?.['required']">
            Status is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="date created">Date Created</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="dateCreated" ngbDatepicker
            #d="ngbDatepicker">
          <button class="btn btn-outline-secondary bi-calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary mt-2">Create</button>
      </div>
    </form>
  </div>
</div>
