@import '../_colors.scss';

$card-cap-padding-x: 0.5rem;
$card-cap-padding-y: 0.3rem;

$card-spacer-x: 0.5rem;
$card-spacer-y: 0.5rem;

$card-cap-bg: $white;
$card-border-color: rgb(129 129 129 / 20%);
